@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: "Space Grotesk", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    @apply bg-deep-navy text-text-light-cream p-0 m-0;
    scroll-behavior: smooth;
}